@font-face {
	font-family: uni-icons;
	src: url('@/assets/iconfont/uni-icons.ttf') format('truetype');
	font-weight: 400;
	font-display: "auto";
	font-style: normal
}

[class*="uni-icons-"],
[class^=uni-icons-] {
	font-family: uni-icons !important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: baseline;
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.uni-icons-cart-filled:before {
  content: "\e6d0";
}

.uni-icons-gift-filled:before {
  content: "\e6c4";
}

.uni-icons-color:before {
  content: "\e6cf";
}

.uni-icons-wallet:before {
  content: "\e6b1";
}

.uni-icons-settings-filled:before {
  content: "\e6ce";
}

.uni-icons-auth-filled:before {
  content: "\e6cc";
}

.uni-icons-shop-filled:before {
  content: "\e6cd";
}

.uni-icons-staff-filled:before {
  content: "\e6cb";
}

.uni-icons-vip-filled:before {
  content: "\e6c6";
}

.uni-icons-plus-filled:before {
  content: "\e6c7";
}

.uni-icons-folder-add-filled:before {
  content: "\e6c8";
}

.uni-icons-color-filled:before {
  content: "\e6c9";
}

.uni-icons-tune-filled:before {
  content: "\e6ca";
}

.uni-icons-calendar-filled:before {
  content: "\e6c0";
}

.uni-icons-notification-filled:before {
  content: "\e6c1";
}

.uni-icons-wallet-filled:before {
  content: "\e6c2";
}

.uni-icons-medal-filled:before {
  content: "\e6c3";
}

.uni-icons-fire-filled:before {
  content: "\e6c5";
}

.uni-icons-refreshempty:before {
  content: "\e6bf";
}

.uni-icons-location-filled:before {
  content: "\e6af";
}

.uni-icons-person-filled:before {
  content: "\e69d";
}

.uni-icons-personadd-filled:before {
  content: "\e698";
}

.uni-icons-arrowthinleft:before {
  content: "\e6d2";
}

.uni-icons-arrowthinup:before {
  content: "\e6d3";
}

.uni-icons-arrowthindown:before {
  content: "\e6d4";
}

.uni-icons-back:before {
  content: "\e6b9";
}

.uni-icons-forward:before {
  content: "\e6ba";
}

.uni-icons-arrow-right:before {
  content: "\e6bb";
}

.uni-icons-arrow-left:before {
  content: "\e6bc";
}

.uni-icons-arrow-up:before {
  content: "\e6bd";
}

.uni-icons-arrow-down:before {
  content: "\e6be";
}

.uni-icons-arrowthinright:before {
  content: "\e6d1";
}

.uni-icons-down:before {
  content: "\e6b8";
}

.uni-icons-bottom:before {
  content: "\e6b8";
}

.uni-icons-arrowright:before {
  content: "\e6d5";
}

.uni-icons-right:before {
  content: "\e6b5";
}

.uni-icons-up:before {
  content: "\e6b6";
}

.uni-icons-top:before {
  content: "\e6b6";
}

.uni-icons-left:before {
  content: "\e6b7";
}

.uni-icons-arrowup:before {
  content: "\e6d6";
}

.uni-icons-eye:before {
  content: "\e651";
}

.uni-icons-eye-filled:before {
  content: "\e66a";
}

.uni-icons-eye-slash:before {
  content: "\e6b3";
}

.uni-icons-eye-slash-filled:before {
  content: "\e6b4";
}

.uni-icons-info-filled:before {
  content: "\e649";
}

.uni-icons-reload:before {
  content: "\e6b2";
}

.uni-icons-micoff-filled:before {
  content: "\e6b0";
}

.uni-icons-map-pin-ellipse:before {
  content: "\e6ac";
}

.uni-icons-map-pin:before {
  content: "\e6ad";
}

.uni-icons-location:before {
  content: "\e6ae";
}

.uni-icons-starhalf:before {
  content: "\e683";
}

.uni-icons-star:before {
  content: "\e688";
}

.uni-icons-star-filled:before {
  content: "\e68f";
}

.uni-icons-calendar:before {
  content: "\e6a0";
}

.uni-icons-fire:before {
  content: "\e6a1";
}

.uni-icons-medal:before {
  content: "\e6a2";
}

.uni-icons-font:before {
  content: "\e6a3";
}

.uni-icons-gift:before {
  content: "\e6a4";
}

.uni-icons-link:before {
  content: "\e6a5";
}

.uni-icons-notification:before {
  content: "\e6a6";
}

.uni-icons-staff:before {
  content: "\e6a7";
}

.uni-icons-vip:before {
  content: "\e6a8";
}

.uni-icons-folder-add:before {
  content: "\e6a9";
}

.uni-icons-tune:before {
  content: "\e6aa";
}

.uni-icons-auth:before {
  content: "\e6ab";
}

.uni-icons-person:before {
  content: "\e699";
}

.uni-icons-email-filled:before {
  content: "\e69a";
}

.uni-icons-phone-filled:before {
  content: "\e69b";
}

.uni-icons-phone:before {
  content: "\e69c";
}

.uni-icons-email:before {
  content: "\e69e";
}

.uni-icons-personadd:before {
  content: "\e69f";
}

.uni-icons-chatboxes-filled:before {
  content: "\e692";
}

.uni-icons-contact:before {
  content: "\e693";
}

.uni-icons-chatbubble-filled:before {
  content: "\e694";
}

.uni-icons-contact-filled:before {
  content: "\e695";
}

.uni-icons-chatboxes:before {
  content: "\e696";
}

.uni-icons-chatbubble:before {
  content: "\e697";
}

.uni-icons-upload-filled:before {
  content: "\e68e";
}

.uni-icons-upload:before {
  content: "\e690";
}

.uni-icons-weixin:before {
  content: "\e691";
}

.uni-icons-compose:before {
  content: "\e67f";
}

.uni-icons-qq:before {
  content: "\e680";
}

.uni-icons-download-filled:before {
  content: "\e681";
}

.uni-icons-pyq:before {
  content: "\e682";
}

.uni-icons-sound:before {
  content: "\e684";
}

.uni-icons-trash-filled:before {
  content: "\e685";
}

.uni-icons-sound-filled:before {
  content: "\e686";
}

.uni-icons-trash:before {
  content: "\e687";
}

.uni-icons-videocam-filled:before {
  content: "\e689";
}

.uni-icons-spinner-cycle:before {
  content: "\e68a";
}

.uni-icons-weibo:before {
  content: "\e68b";
}

.uni-icons-videocam:before {
  content: "\e68c";
}

.uni-icons-download:before {
  content: "\e68d";
}

.uni-icons-help:before {
  content: "\e679";
}

.uni-icons-navigate-filled:before {
  content: "\e67a";
}

.uni-icons-plusempty:before {
  content: "\e67b";
}

.uni-icons-smallcircle:before {
  content: "\e67c";
}

.uni-icons-minus-filled:before {
  content: "\e67d";
}

.uni-icons-micoff:before {
  content: "\e67e";
}

.uni-icons-closeempty:before {
  content: "\e66c";
}

.uni-icons-clear:before {
  content: "\e66d";
}

.uni-icons-navigate:before {
  content: "\e66e";
}

.uni-icons-minus:before {
  content: "\e66f";
}

.uni-icons-image:before {
  content: "\e670";
}

.uni-icons-mic:before {
  content: "\e671";
}

.uni-icons-paperplane:before {
  content: "\e672";
}

.uni-icons-close:before {
  content: "\e673";
}

.uni-icons-help-filled:before {
  content: "\e674";
}

.uni-icons-paperplane-filled:before {
  content: "\e675";
}

.uni-icons-plus:before {
  content: "\e676";
}

.uni-icons-mic-filled:before {
  content: "\e677";
}

.uni-icons-image-filled:before {
  content: "\e678";
}

.uni-icons-locked-filled:before {
  content: "\e668";
}

.uni-icons-info:before {
  content: "\e669";
}

.uni-icons-locked:before {
  content: "\e66b";
}

.uni-icons-camera-filled:before {
  content: "\e658";
}

.uni-icons-chat-filled:before {
  content: "\e659";
}

.uni-icons-camera:before {
  content: "\e65a";
}

.uni-icons-circle:before {
  content: "\e65b";
}

.uni-icons-checkmarkempty:before {
  content: "\e65c";
}

.uni-icons-chat:before {
  content: "\e65d";
}

.uni-icons-circle-filled:before {
  content: "\e65e";
}

.uni-icons-flag:before {
  content: "\e65f";
}

.uni-icons-flag-filled:before {
  content: "\e660";
}

.uni-icons-gear-filled:before {
  content: "\e661";
}

.uni-icons-home:before {
  content: "\e662";
}

.uni-icons-home-filled:before {
  content: "\e663";
}

.uni-icons-gear:before {
  content: "\e664";
}

.uni-icons-smallcircle-filled:before {
  content: "\e665";
}

.uni-icons-map-filled:before {
  content: "\e666";
}

.uni-icons-map:before {
  content: "\e667";
}

.uni-icons-refresh-filled:before {
  content: "\e656";
}

.uni-icons-refresh:before {
  content: "\e657";
}

.uni-icons-cloud-upload:before {
  content: "\e645";
}

.uni-icons-cloud-download-filled:before {
  content: "\e646";
}

.uni-icons-cloud-download:before {
  content: "\e647";
}

.uni-icons-cloud-upload-filled:before {
  content: "\e648";
}

.uni-icons-redo:before {
  content: "\e64a";
}

.uni-icons-images-filled:before {
  content: "\e64b";
}

.uni-icons-undo-filled:before {
  content: "\e64c";
}

.uni-icons-more:before {
  content: "\e64d";
}

.uni-icons-more-filled:before {
  content: "\e64e";
}

.uni-icons-undo:before {
  content: "\e64f";
}

.uni-icons-images:before {
  content: "\e650";
}

.uni-icons-paperclip:before {
  content: "\e652";
}

.uni-icons-settings:before {
  content: "\e653";
}

.uni-icons-search:before {
  content: "\e654";
}

.uni-icons-redo-filled:before {
  content: "\e655";
}

.uni-icons-list:before {
  content: "\e644";
}

.uni-icons-mail-open-filled:before {
  content: "\e63a";
}

.uni-icons-hand-down-filled:before {
  content: "\e63c";
}

.uni-icons-hand-down:before {
  content: "\e63d";
}

.uni-icons-hand-up-filled:before {
  content: "\e63e";
}

.uni-icons-hand-up:before {
  content: "\e63f";
}

.uni-icons-heart-filled:before {
  content: "\e641";
}

.uni-icons-mail-open:before {
  content: "\e643";
}

.uni-icons-heart:before {
  content: "\e639";
}

.uni-icons-loop:before {
  content: "\e633";
}

.uni-icons-pulldown:before {
  content: "\e632";
}

.uni-icons-scan:before {
  content: "\e62a";
}

.uni-icons-bars:before {
  content: "\e627";
}

.uni-icons-checkbox:before {
  content: "\e62b";
}

.uni-icons-checkbox-filled:before {
  content: "\e62c";
}

.uni-icons-shop:before {
  content: "\e62f";
}

.uni-icons-headphones:before {
  content: "\e630";
}

.uni-icons-cart:before {
  content: "\e631";
}
