.uni-modal {
  background-color: var(--card-color);
  .uni-modal__btn_default {
    color: var(--text-sub-color) !important;
  }
}

uni-toast {
  z-index: 99999999;
}

// swiper 高度自适应（微信小程序无效）
// .sv-swiper {
//   height: auto !important;
//   .uni-swiper-wrapper {
//     overflow-y: visible !important;

//     .uni-swiper-slides {
//       position: static !important;
//       height: auto !important;
//     }
//     .uni-swiper-slide-frame {
//       position: static !important;
//       height: auto !important;
//       display: flex;
//     }
//   }
//   .uni-swiper-item {
//     flex: 0 0 100%;
//     overflow-y: visible !important;
//     position: static !important;
//     height: auto !important;
//     transform: none !important;
//   }
// }

.uni-easyinput {
  color: var(--text-color) !important;

  .uni-easyinput__content {
    background-color: var(--card-color) !important;
    border-color: var(--border-color) !important;

    &.is-disabled {
      color: var(--text-sub-color);
      background-color: var(--shadow-color) !important;
      cursor: not-allowed;

      .uni-input-input:disabled {
        cursor: not-allowed;
      }
    }
  }
}

.uni-select {
  border-color: var(--border-color) !important;
  background-color: var(--card-color);

  .uni-select__input-text {
    color: var(--text-color) !important;
  }

  .uni-select__input-placeholder {
    color: #999999 !important;
  }
  .uni-select__selector {
    background-color: var(--card-color) !important;
    border-color: var(--border-color) !important;

    .uni-popper__arrow_bottom {
      border-bottom-color: var(--border-color);
      &::after {
        border-bottom-color: var(--border-color);
      }
    }

    .uni-select__selector-item {
      &:hover {
        background-color: var(--hover-color) !important;
      }
    }
  }
}

.uni-forms {
  .uni-forms-item {
    .uni-forms-item__label {
      color: var(--text-color);
    }
  }
}
