/* 白昼 */
html {
  --bg-color: '#ffffff';
}

/* 暗黑 */
html.dark {
  --bg-color: '#000000';

  /* el-table 固定列边框阴影 */
  .el-table {
    --el-table-fixed-left-column: inset 10px 0 10px -10px rgba(255, 255, 255, 0.15);
    --el-table-fixed-right-column: inset -10px 0 10px -10px rgba(255, 255, 255, 0.15);
  }
}
